.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
 
  height:calc(100% - var(--header-hieght));
  
}

.banner__margin {
  height: 0px;
}

.banner__img {
  background-image: url('/BANNER/IMGS/баннер 2369.jpg');
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}