.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
  font-family: 'Alegreya-Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 10px;
}

.delivery__data {
  width: 80%;
  max-width: 900px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:0.4fr 0.6fr;
      grid-template-columns:0.4fr 0.6fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.delivery__data div, .delivery__data h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #bdbdbd;
  margin: 0;
}

.delivery__data div:nth-child(4) {
  padding: 25px 0 25px 0; 
}

.delivery__data div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.delivery__data h3:nth-child(5) {
  border-bottom: unset;
}

.delivery__data div:last-child {
  border-bottom: unset;
}

.delivery .empty__fixed__block {
  height: var(--header-hieght);
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .delivery {
    height: unset;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .delivery {
    height: unset;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .delivery {
    height: unset;
    margin-top: 20px;
  }

  .delivery__data {
    width: 80%;
    max-width: 900px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivery__data h3 {
    margin-bottom: 25px;
    border-bottom: unset;
    
  }

  .delivery__data div {
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .delivery {
    height: unset;
  }
}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {
  .delivery {
    height: unset;
  }
}