

.header {
  display: flex;
  position: relative;
  height: 5.625em;
  width: 100%;
  font-family: 'Alegreya-Sans';
  font-weight: normal;
  font-style: normal;
  background-color: var(--light-primary-color);
  box-shadow: 0px 5px 6px 0px #888;
  z-index: 2;
  box-sizing: border-box;
  
}

.header__logo {
  display: flex;
  font-family: 'Alegreya-Sans-Black';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  align-items: center;
  color: var(--accent-color);
  width: 200px;
  justify-content: center;
}

.header__empty-element {
  flex-grow: 1;
}

.header__menu {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.header__menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu__item {
  margin-right: 1.3em;
  word-wrap: none;
  min-width: 3.5em;
  
}

.header__menu__item a {
  color: var(--primary-text-color);
  padding: 5px 10px;
}

.header__menu__item a:hover {
  background: var(--accent-color);
  border-radius: 0.85em;
}

.header__social {
  display: flex;
  width: 4em;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5em;
}

.header__social a {
  color: var(--text-primary-color);
}

.header__social a:hover {
  color: var(--accent-color);
}

.header__phones {
  display: flex;
  align-items: center;
  font-size: 1.75em;
  width: 250px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .header__menu {
    display: none; 
  }

  .header__menu ul {
    display: none;
  }
}