:root {
  --header-hieght : 80px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: var(--header-hieght);
  width: 100%;
  font-family: 'Alegreya-Sans';
  font-weight: normal;
  font-style: normal;
  background-color: var(--light-primary-color);
  -webkit-box-shadow: 0px 5px 6px 0px #888;
          box-shadow: 0px 5px 6px 0px #888;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Alegreya-Sans-Black';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-color);
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo img {
  width: 80%;
  height: auto;
}

.header__empty-element {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu__item {
  margin-right: 1.3em;
  word-wrap: none;
  
  
}

.header__menu__item a {
  display: block;
  color: var(--primary-text-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px;
  /* width: 100%; */
}

.header__menu__item a:hover {
  background: var(--accent-color);
  border-radius: 0.85em;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5em;
  margin-left: 0.2em;
}

.header__social a {
  color: var(--text-primary-color);
}

.header__social a:hover {
  color: var(--accent-color);
}

.header__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75em;
  
  margin: 0 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu_bar {
  display: none;

}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  /* .header__phones {
    font-size: 1.1em;
  }

  .header__menu {
    font-size: 1.1em;
    margin-right: 10px;
  }

  .header__menu__item {
    margin: 10px 0 10px 0;
    word-wrap: none;
    width: 100%;
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }

  .header__social a {
    display: block;
    margin: 0 6px;
  } */
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header__menu {
    font-size: 1.2em;
    margin-right: 10px;
  }
  .header__menu__item {
    margin: 10px 0 10px 0;
    word-wrap: none;
    width: 100%;
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }

  .header__social a {
    display: block;
    margin: 0 6px;
  }

  .header__phones {
    font-size: 1.2em;
    margin: 0 10px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header__menu {
    font-size: 1.2em;
    margin-right: 10px;
  }
  .header__menu__item {
    margin: 10px 0 10px 0;
    word-wrap: none;
    width: 100%;
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }

  .header__phones {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  :root {
    --header-hieght: 50px;
  }

  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    width: 120px
  }

  .header__menu {
    display: block;
    position: absolute;
    z-index: 1;
    top: var(--header-hieght);
    left: 0;
    width: 80%;
    height: auto;
    background: var(--light-primary-color);
    font-size: 1.5em;
    border: 1px solid var(--divider-color);
  }

  .header__menu_closed {
    display: none;
  }

  .header__menu__item {
    margin:unset;
    padding: 10px 0 10px 0;
    word-wrap: none;
    min-width: unset;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--divider-color)
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }


  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__phones {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__menu_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--primary-text-color);
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin: 0 0 0 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {
  
}