:root {
  --header-hieght : 80px;
}

.header {
  display: flex;
  position: relative;
  height: var(--header-hieght);
  width: 100%;
  font-family: 'Alegreya-Sans';
  font-weight: normal;
  font-style: normal;
  background-color: var(--light-primary-color);
  box-shadow: 0px 5px 6px 0px #888;
  z-index: 2;
  box-sizing: border-box;
  
}

.header__logo {
  display: flex;
  font-family: 'Alegreya-Sans-Black';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  align-items: center;
  color: var(--accent-color);
  width: 200px;
  justify-content: center;
}

.header__empty-element {
  flex-grow: 1;
}

.header__menu {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.header__menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu__item {
  margin-right: 1.3em;
  word-wrap: none;
  
  
}

.header__menu__item a {
  display: block;
  color: var(--primary-text-color);
  box-sizing: border-box;
  padding: 5px 5px;
  /* width: 100%; */
}

.header__menu__item a:hover {
  background: var(--accent-color);
  border-radius: 0.85em;
}

.header__social {
  display: flex;
  width: 4em;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5em;
}

.header__social a {
  color: var(--text-primary-color);
}

.header__social a:hover {
  color: var(--accent-color);
}

.header__phones {
  display: flex;
  align-items: center;
  font-size: 1.75em;
  width: 250px;
  justify-content: center;
}

.header__menu_bar {
  display: none;

}
@media screen and (max-width: 1026px) {
  .header__menu {
    font-size: 1.2em;
    margin-right: 10px;
  }
  .header__menu__item {
    margin: 10px 0 10px 0;
    word-wrap: none;
    
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }
}


@media screen and (max-width: 770px) {
  :root {
    --header-hieght: 50px;
  }

  .header {
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
  }

  .header__logo {
    width: 120px
  }

  .header__menu {
    display: block;
    position: absolute;
    z-index: 1;
    top: var(--header-hieght);
    left: 0;
    width: 80%;
    height: auto;
    background: var(--light-primary-color);
    font-size: 1.5em;
  }

  .header__menu_closed {
    display: none;
  }

  .header__menu__item {
    margin: 10px 0 10px 0;
    word-wrap: none;
    min-width: unset;
  }

  .header__menu__item a{
    margin: 0;
    padding: 10;
  }


  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__phones {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__menu_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin: 0 0 0 10px;
  }
}