.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
}

.catalog__models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 10em);
}

.catalog__arrow {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  font-size: 3em;
  color: var(--divider-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__arrow:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: rgba(200,200,200, 0.5);
}
.catalog__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em; 
}

.catalog__circles__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__circle {
  content: ' ';
  width: 1.5em;
  height: 1.5em;
  background: var(--divider-color);
  border-radius: 50%;
  margin-right: 10px;
} 

.catalog__circle:hover {
  cursor: pointer;
}

.catalog__circle__selected {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  background: var(--dark-primary-color);
}

.catalog__items {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.catalog__item__img {
  width: auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.catalog__item:nth-child(1) .catalog__item__img {
  background: url('/CATALOG/IMGS/1_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(2) .catalog__item__img{
  background: url('/CATALOG/IMGS/2_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(3) .catalog__item__img{
  background: url('/CATALOG/IMGS/3_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.catalog__item:nth-child(4) .catalog__item__img {
  background: url('/CATALOG/IMGS/4_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(5) .catalog__item__img{
  background: url('/CATALOG/IMGS/5_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(6) .catalog__item__img{
  background: url('/CATALOG/IMGS/6_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.catalog__item:nth-child(7) .catalog__item__img {
  background: url('/CATALOG/IMGS/8_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(8) .catalog__item__img{
  background: url('/CATALOG/IMGS/12_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(9) .catalog__item__img{
  background: url('/CATALOG/IMGS/10_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -ms-grid;
  display: grid;
  z-index:1;
  width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}


.catalog__item__img {
  z-index: -1;
  width:100%;
  height: 100%;
  -ms-grid-row: 1;
  grid-row: 1;  
  -ms-grid-column: 1;  
  -ms-grid-column-span: 3;  
  grid-column: 1 / 4;
  
}

.catalog__item__page {
  cursor: pointer;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}



.catalog__item__page__control {
  width: 100%;
  height: 5%;
  background-color: rgba(255, 82, 82, 0.7);
  z-index: -1;
}

.catalog__item__page__control__hover{
  background-color:  rgba(255, 82, 82, 1);
}

.catalog__item .catalog__item__page:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1; 
  -ms-grid-column: 1; 
  -ms-grid-column-span: 1; 
  grid-column: 1 / 2;
}

.catalog__item .catalog__item__page:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1; 
  -ms-grid-column: 2; 
  -ms-grid-column-span: 1; 
  grid-column: 2 / 3;
}

.catalog__item .catalog__item__page:nth-child(3) {
  -ms-grid-row: 1;
  grid-row: 1; 
  -ms-grid-column: 3; 
  -ms-grid-column-span: 1; 
  grid-column: 3 / 4;
}


.catalog__item:nth-child(1) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(1) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(1) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  font-size: 3em;
  font-family: 'Alegreya-Sans-Black';
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.catalog__link a {
  background-color:#ff5252;
	border-radius:1em;
	border:2px solid #ff5252;
	
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	padding:16px 31px;
	text-decoration:none;
}

.catalog__link a:visited {
  color: #ffffff;
}

.catalog__link a:hover {
  background-color:#f5f5f5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--accent-color); 
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 10em);
  }

  .catalog__circles {
    height: 1.7em;
  }

  .catalog__link {
    height: 3em;
    font-size: 3em;
  }

  .catalog__item {
    width: 100%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 10em);
  }

  .catalog__circles {
    height: 3em;
    padding-top: unset;
  }

  .catalog__link {
    height: 4em;
    font-size: 2em;
  }

  .catalog__item {
    width: 80%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .catalog__circles {
    height:3em;
    padding-top: unset;
  }

  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__link {
    height: 5em;
    font-size: 1.5em;
  }

  .catalog__models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 10em);
  }

  .catalog__item {
    width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 18em);
  }

  .catalog__circles {
    height: 4em;
  }

  .catalog__link {
    height: 5em;
    font-size: 1.5em;
  }

  .catalog__item {
    width: 100%;
  }
}


