.catalog {
  display: flex;
  height: calc(100%);
  justify-content: flex-start;
  flex-direction: column;
}

.catalog__models {
  display: flex;
  height: calc(100% - 10em);
}

.catalog__arrow {
  transition: all 0.3s ease;
  display: flex;
  width: 6%;
  font-size: 3em;
  color: var(--divider-color);
  align-items: center;
  justify-content: center;
}

.catalog__arrow:hover {
  transition: all 0.3s ease;
  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: rgba(200,200,200, 0.5);
}
.catalog__circles {
  display: flex;
  width: 100%;
  height: 5em;
  align-items: center;
  justify-content: center;
  padding-top: 1em; 
}

.catalog__circles__wrap {
  display: flex;
  width: 7em;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__circle {
  content: ' ';
  width: 1.5em;
  height: 1.5em;
  background: var(--divider-color);
  border-radius: 50%;
} 

.catalog__circle:hover {
  cursor: pointer;
}

.catalog__circle__selected {
  transition: all 0.3s ease;
  
  background: var(--dark-primary-color);
}

.catalog__items {
  transition: all 0.3s ease;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: 100%;
}

.catalog__item__img {
  transition: all 0.4s ease;
}


.catalog__item:nth-child(1) .catalog__item__img {
  background: url('/CATALOG/IMGS/1_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(2) .catalog__item__img{
  background: url('/CATALOG/IMGS/2_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(3) .catalog__item__img{
  background: url('/CATALOG/IMGS/3_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.catalog__item:nth-child(4) .catalog__item__img {
  background: url('/CATALOG/IMGS/4_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(5) .catalog__item__img{
  background: url('/CATALOG/IMGS/5_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(6) .catalog__item__img{
  background: url('/CATALOG/IMGS/6_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.catalog__item:nth-child(7) .catalog__item__img {
  background: url('/CATALOG/IMGS/8_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(8) .catalog__item__img{
  background: url('/CATALOG/IMGS/12_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item:nth-child(9) .catalog__item__img{
  background: url('/CATALOG/IMGS/10_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.catalog__item {
  transition: all 0.3s ease;
  display: grid;
  z-index:1;
  width: 30%;
  box-sizing: border-box;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}


.catalog__item__img {
  z-index: -1;
  width:100%;
  height: 100%;
  grid-row: 1;  
  grid-column: 1 / 4;
  
}

.catalog__item__page {
  cursor: pointer;
  z-index: 3;
}

.catalog__item .catalog__item__page:nth-child(1) {
  grid-row: 1; 
  grid-column: 1 / 2;
}

.catalog__item .catalog__item__page:nth-child(2) {
  grid-row: 1; 
  grid-column: 2 / 3;
}

.catalog__item .catalog__item__page:nth-child(3) {
  grid-row: 1; 
  grid-column: 3 / 4;
}


.catalog__item:nth-child(1) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(1) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(1) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/1_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(2) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/2_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(3) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/3_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(4) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/4_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(5) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/5_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(6) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/6_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(7) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/8_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(8) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/12_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(1):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(2):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__item:nth-child(9) .catalog__item__page:nth-child(3):hover ~ .catalog__item__img{
  background: url('/CATALOG/IMGS/10_3.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
} 

.catalog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: 3em;
  font-family: 'Alegreya-Sans-Black';
  transition: all 0.3s ease;
}

.catalog__link a {
  transition: all 0.3s ease;
  text-align: center;
  color: var(--secondary-text-color);
}

.catalog__link a:visited {
  color: var(--default-primary-color);
}

.catalog__link a:hover {
  transition: all 0.3s ease;
  color: var(--accent-color); 
}

/* @media screen and (max-width: 770px) and (orientation: portrait) {
  .catalog__item {
    width: 90%;
  }

  .catalog__arrow {
    width: 10%;
  }
}

@media screen and (max-width: 770px) and (orientation: landscape) {
  .catalog__circles {
    height: 1.7em;
  }

  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__link {
    height: 2em;
    font-size: 1.5em;
  }

  .catalog__models {
    display: flex;
    height: calc(100% - 4em);
  }
} */







/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: flex;
    height: calc(100% - 10em);
  }

  .catalog__circles {
    height: 1.7em;
  }

  .catalog__link {
    height: 3em;
    font-size: 3em;
  }

  .catalog__item {
    width: 100%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: flex;
    height: calc(100% - 10em);
  }

  .catalog__circles {
    height: 1.7em;
  }

  .catalog__link {
    height: 3em;
    font-size: 3em;
  }

  .catalog__item {
    width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .catalog__circles {
    height: 2em;
  }

  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__link {
    height: 2em;
    font-size: 1.5em;
  }

  .catalog__models {
    display: flex;
    height: calc(100% - 4em);
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .catalog__circle {
    width: 1.2em;
    height: 1.2em;
  }

  .catalog__models {
    display: flex;
    height: calc(100% - 5em);
  }

  .catalog__circles {
    height: 1.7em;
  }

  .catalog__link {
    height: 2em;
    font-size: 2em;
  }

  .catalog__item {
    width: 100%;
  }
}



@media (max-width: 650) {

}