html::-webkit-scrollbar {
  display: none;
} 

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--light-primary-color);
  color: var(--primary-text-color);
  font-size: 16px;
}

a{
  text-decoration: none;
}


.empty__fixed__block {
  height: var(--header-hieght);
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html,body {
    font-size: 14px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html,body {
    font-size: 12px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html,body {
    font-size: 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html,body {
    font-size: 11px;
  }
}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {
  
}