html::-webkit-scrollbar {
  display: none;
} 

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--light-primary-color);
  color: var(--primary-text-color);
  font-size: 16px;
}

a{
  text-decoration: none;
}


@media screen and (max-width: 770px) {
  
}


@media screen and (max-width: 1026px) {
 
}
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html,body {
    font-size: 14px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html,body {
    font-size: 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {
  
}