.us {
  height: 100%;
  font-family: 'Alegreya-Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
 
}

.us header img {
  max-width: 600px;
  width: 50%;
  height: auto;
}

.us__text {
  max-width: 900px;
  width: 80%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {

}