.footer {
  background: var(--dark-primary-color);
  height: 12em;
  width:100%;
  height: auto;
  color: var(--divider-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
}

.footer__menu ul {
  list-style: none;
}

.footer__menu__item a {
  color: var(--divider-color);
}

.footer__menu__item a:hover {
  color: var(--accent-color);
}

.footer__empty {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 2em;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5em;
  margin-right: 2em;
}

.footer__social a {
  color: var(--divider-color);
}

.footer__social a:hover {
  color: var(--accent-color);
}

.footer__contacts {
  margin-right: 2em;
}

.footer__bankrec {
  margin-right: 3em;
}
.footer__unp {
  margin-right: 3em;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 
}

@media (max-width: 650px) {
  .footer__empty {
    display: none;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    height: 14em;
    grid-column-gap: 5px;
  }
  .footer__menu {
    -ms-grid-row-span: 2;
    grid-row: span 2 / auto;
  }
  .footer__social {
    -ms-grid-row-span: 2;
    grid-row: span 2 / auto;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    height: 14em;
    grid-column-gap: 5px;
  }
  .footer__menu {
    grid-row: 1 / auto;
  }
  .footer__social {
    padding-left: 40px; 
    grid-row: 2 / auto;
  }

  .footer__social a {
    margin-right: 0.5em;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 2em;
    margin-right: unset;
  }
  .footer__contacts {
    margin-right: unset;
  }
  .footer__bankrec {
    margin-right: unset;
  }

  .footer__unp {
    margin-right: unset;
  }


}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */
